<h3>Your vehicle was towed!</h3>
{{model.id}}
{{model.date}}
{{model.description}}
{{model.licensePlate}}
{{model.towedToAddress}}
<a href="tel:{{model.towFacilityPhone}}">{{model.towFacilityPhone}}</a>
