<h3>Vehicle</h3>
<div>
    {{#x-select value=last_seen as |select|}}
        {{#select.option value=today}}Today{{/select.option}}
        {{#select.option value=yesterday}}Yesterday{{/select.option}}
        {{#select.option value=daysAgo}}Days ago{{/select.option}}
        {{#select.option value=weeksAgo}}Weeks ago{{/select.option}}
        {{#select.option value=monthsAgo}}Months ago{{/select.option}}
        {{#select.option value=aLongTimeAgo}}A Long time ago{{/select.option}}
    {{/x-select}}
</div>
    {{#x-select value=state as |select|}}
        <option>State</option>
        {{#each stateCodes as |state|}}
            {{#select.option value=state.code}}{{state.label}}{{/select.option}}
        {{/each}}
    {{/x-select}}
<div>
    {{#x-select value=color as |select|}}
        <option>Color</option>
        {{#each colorCodes as |color|}}
            {{#select.option value=color.code}}{{color.label}}{{/select.option}}
        {{/each}}
    {{/x-select}}
</div>
<div>
    {{#x-select value=make as |select|}}
        <option>Make</option>
        {{#each makeCodes as |make|}}
            {{#select.option value=make.code}}{{make.label}}{{/select.option}}
        {{/each}}
    {{/x-select}}
</div>
<table>
    <thead>
        <tr>
            <th>Date Towed</th>
            <th>License Plate</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each sortedVehicles as |vehicle|}}
            <tr>
                <td>{{moment-from-now vehicle.date}}</td>
                <td>
                    {{#link-to vehicle.constructor.modelName vehicle}}
                        {{vehicle.licensePlate}}
                    {{/link-to}}
                </td>
                <td>{{vehicle.description}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan=3>No Results</td>
            </tr>
        {{/each}}
    </tbody>
</table>
