<h3>Vehicle</h3>
<table>
    <thead>
        <tr>
            <th>Date Towed</th>
            <th>License Plate</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |vehicle|}}
            <tr>
                <td>{{moment-from-now vehicle.date}}</td>
                <td>{{vehicle.state}} {{vehicle.plate}}</td>
                <td>{{vehicle.color}} {{vehicle.make}} {{vehicle.style}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
